<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        To jest header
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'main:hello' %}"> Main page</a>
            </li>
            <li>
                <a href="{% url 'post:list' %}"> List of posts</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        To jest footer
    </footer>

</body>
</html>