{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    {% block styles %} {% endblock %}
</head>
<body>
        <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4"> My books and posts !</span>
          </a>
          <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'main:hello' %}" class="nav-link"> Main page</a>
            </li>
              <li class="nav-item">
                  <a href="{% url 'posts:list' %}" class="nav-link"> List of posts</a>
              </li>
            <li class="nav-item">
                  <a href="{% url 'books:list' %}" class="nav-link"> List of Books</a>
              </li>
          </ul>
        </header>
        </div>
    <nav>
        <ul>
        </ul>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2023 Company, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
        <nav>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item">
                    <a href="{% url 'main:about' %}" class="nav-link px-2 text-body-secondary"> About </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'main:contact' %}" class="nav-link px-2 text-body-secondary"> Contact </a>
                </li>
            </ul>
        </nav>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>
