{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{%  block style %}
    <link href="{% static 'posts/css/style.css' %}" rel=stylesheet">
{% endblock %}

{% block header %}
    <p><h3>Edytowanie posta:</h3></p>
{% endblock %}

{% block title %}  Edytuj post: {% endblock %}

{% block content %}
    <form method = "POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit"
    class = "btn btn-primary">Wyślij</button>
    </form>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock %}